
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400&display=swap');

:root{
  --bg-main: #131722;
  --color-main:#fff;
  --light-bg:#24baef;
  --border-color: #949cb0;

}

a { 
  color: inherit; 
} 

body{
  background-color: var(--bg-main);
  color: var(--color-main);
  font-family: 'Montserrat', sans-serif !important;
}
.brdr{
  background-color: var(--border-color);
  height: 1px;

}

nav{
  color: var(--color-main) !important;

}

footer{
  background-color : var(--bg-main)
}

.curser-pointer{
  cursor: pointer;
}

.vote {
  background-color: var(--light-bg);
}

.loading
{
  color: var(--light-bg);
}

.offline
{
  background-color: var(--light-bg);
  box-shadow: 5px 5px 5px #ccc;
  padding: 20px;
  position: fixed;
  right: 0px;
  bottom: 50px;
  z-index: 99999;
}